
.title {
    font-size: 20px;
    font-family: Tahoma;
}

#gridRow {
    display: grid;
    grid-template-rows: 140px;
    text-align: center;
    border:2px solid black;
    background-image: url("../static/mountains1.jpg");
}

    #dicesAndMessage {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 200px;
        position: fixed;
        /*border: 1px solid orange;*/
        /*align-items: center;*/
        /*align-self: center;*/
        /* background-color: rgb(228, 203, 140); */
    }

#row1_5_rollAllOrLooseDices {
    font-size: 16px;
    font-family: Tahoma;
    background-color: rgb(85, 212, 85);
    background-image: url("../static/clouds1.jpg");
    color: white;
    cursor: pointer;
}



.diceRollClickAnim {
    position: relative;
    margin: 5px auto 0;
    padding: 5px;
    width: 230px;
    height: 100px;
    background: linear-gradient(0deg, #000, #ffffff);
}

.diceRollClickAnim:before, .diceRollClickAnim:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #0000ff, #c1c8ff, #f9ffc6,
    #0000ff, #3e66ff, #f0fffa);
    background-size: 200%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.diceRollClickAnim:after {
    filter: blur(50px);
}

/* ---- category highlight animation ---- */

.highlightCatAnim {
    position: relative;
    margin: 1px auto 0;
    padding: 1px;

    background: linear-gradient(0deg, #c6ff21, #80ff4e);
}

.highlightCatAnim:before, .highlightCatAnim:after {
    content: '';
    position: absolute;
    left: 5px;
    top: -1px;
    background: linear-gradient(45deg, #2bd726, #51ff4c, #23ae45);
    background-size: 200%;
    width: calc(100% + 4px);
    height: calc(100%);
    z-index: -1;
    animation: steam 10s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.highlightCatAnim:after {
    filter: blur(50px);
}
/* --------------------------------- */


/* *********** each dice ********** */
#dice1 {
    font-size: 180px;
    line-height: 120px;
}
#dice1:hover {
    cursor: pointer;
}


#dice2 {
    font-size: 180px;
    line-height: 120px;
}
#dice2:hover {
    cursor: pointer;
}


#dice3 {
    font-size: 180px;
    line-height: 120px;
}
#dice3:hover {
    cursor: pointer;  
}


#dice4 {
    font-size: 180px;
    line-height: 120px;
}
#dice4:hover {
    cursor: pointer;
}


#dice5 {
    font-size: 180px;
    line-height: 120px;
}
#dice5:hover {
    cursor: pointer;
}

#about {
    text-align: center;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 16px;
    text-decoration: underline;
    color: green;
}